.avatar{
    width: 99%;
    height: 282px;
    margin-left: 500px;
}
.navbar {
    background-color: darkred;
    color: floralwhite;
}
.bgimage{
    background: url(https://i.pinimg.com/originals/51/95/eb/5195ebb8c5f9772deda82aa2937134d3.jpg) no-repeat center center fixed;
    background-size: cover;
    width: 121.3%;
    margin-left: -10.5%;
}
.card-img, .card-img-top {
    border-top-left-radius: calc(.25rem - 1px);
    border-top-right-radius: calc(.25rem - 1px);
    height: 359px;
}
a {
   
    text-decoration: none;
    background-color: transparent;
    color: floralwhite;
}

 .page-container{
    display: flex;
    flex-direction: column;
    min-height: 100vh;

}
.content-wrap{
    float: 1;
} 
/* .font-weight-normal {
  
    text-align: center;
    font-size: 40px;
    
    color: #111110
    
    
} */
.h1, h1 {
    font-size: 2.5rem;
    margin-block-start: 32px;
    text-align: center;
    color: black;
}
